body, html {
  /* height: 100%; */
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color: teal;
  font-weight: 300;
  font-size: 4rem;
  margin: 3rem 0;
}

main {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
}

section {
  background-color: lightseagreen;
  border: 1px solid darkgreen;
  padding: 1.5rem;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-title {
  display: block;
  margin: .5rem 0;
  font-size: 1.4rem;
  font-weight: 400;
}

#new-user-form input, #add-exercise-form input {
  padding: .3rem;
  border: none;
  border: 2px solid black;
  width: 500px;
}

.submit-btn {
  background: teal;
  color: white;
  padding: .3rem;
  border: 2px solid black;
  width: 120px;
}

pre {
  display: inline-block;
  background-color: #f9dd76;
  padding: 2px 8px;
  border-radius: 2px;
}

.input-row {
  display: block;
  margin: 10px;
}
