body, html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color: teal;
  font-weight: 300;
  font-size: 4rem;
  margin: 3rem 0;
  text-align: center;
}



main {
  display: flex;
  flex-direction: column;
  width: 640px;
  min-width: 320px;
}


section {
  background-color: lightseagreen;
  border: 1px solid darkgreen;
  padding: 1.5rem;
  border-radius: 4px;
  margin-bottom: 30px;

}

.section-title {
  display: block;
  margin: .5rem 0;
  font-size: 1.4rem;
  font-weight: 400;
}

input {
  box-sizing: border-box;
  padding: .3rem;
  border: 2px solid black;
  width: 100%;
}

.submit-btn {
  background: teal;
  color: white;
  padding: .3rem;
  border: 2px solid black;
  width: 120px;
}

pre {
  display: inline-block;
  background-color: #f9dd76;
  padding: 2px 8px;
  border-radius: 2px;
}

.input-row {
  display: block;
  margin: 10px 0;
}

a {
  text-decoration: none;
  box-decoration-break: clone;
  background-color: lightblue;
  padding: 2px 8px;
  border-radius: 2px;
}


@media screen and (max-width: 768px) {
  header h1 {
    font-size: 3rem;
  }

  main {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  header h1 {
    font-size: 2.4rem;
  }
}